section {
    background-color: $colorPrincipal;
    h2 {
        font: {
            family: sans-serif;
            size: 40px;
        }
        border: 1px solid {
            color: orange
        }
    }
    div {
        background-color: $colorSecundario;
        p {
            color: salmon
        }
    }
}

@media screen and (min-width: $desktop ) {
    section {
        background-color: $colorSecundario;
    }
}